.channel-name {
  background-color: #000;
}
@mixin activeLink() {
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #c2c2c2;
  background: #bdbdfa linear-gradient(to bottom, #686969 5%, #2f5378 100%);
  color: #fff;
  text-shadow: 0 1px 0 #000;
  box-sizing: border-box;
}
.active {
  @include activeLink();
}
.nav-link:hover {
  @include activeLink();
}
.header {
  background-color: #000;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  right: 0;
  left: 0;
  padding: 0.5rem;
  z-index: 2;
}
