<!-- the best to use ngClass instead of ngStyle -->
<div class="course-card rounded text-center text-center my-2"
    [ngClass]="course.category === categoryType.beginners ? 'beginner' : 'advanced'">
    <div class="fw-bold p-2 course-title"
    [ngStyle]="{'color': course.category === categoryType.beginners ? 'darkgreen' : 'darkblue'}">
        <h4 class="text-danger">{{title}}</h4>
        {{index}}- {{course.title}}
    </div>
        <div>
            <img [src]="course.imageUrl" alt="image-course" class="w100 course-image">
        </div>
    <div class="course-description p-2 text-start">
        {{course.description}}
    </div>
    @switch (course.category) {
        @case (categoryType.beginners) {
            <span class="badge bg-warning"> Beginner </span>
        }
        @case (categoryType.intermediate) {
            <span class="badge bg-info"> Intermediate </span>
        }
        @case (categoryType.advanced) {
            <span class="badge bg-secondary"> Advanced </span>
        }
        @default {
            <span class="badge bg-danger"> Other </span>
        }
    }
    <div class="p-2">
        <button class="btn btn-primary" (click)="viewCourse()">View Details</button>
    </div>
</div>
