<div class="container bg-body-tertiary">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 col-12 p-3 border bg-white">
      <a
        (click)="navigateToLogin()"
        class="text-muted btn btn-link text-decoration-none">
        <i class="fa-solid fa-arrow-left"></i>
        Back
      </a>
      <h1 class="text-center py-3 fw-bold">Sign Up</h1>
      <form class="row" [formGroup]="registerForm">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>User Name</mat-label>
          <input
            matInput
            formControlName="userName"
            placeholder="Enter Your User Name">
          <mat-icon matSuffix>person</mat-icon>
          @if(registerForm.get('userName')?.hasError('required')){
            <mat-error>{{ 'validation.requiredMessage' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Enter Your Email">
          <mat-icon matSuffix>email</mat-icon>
          @if(registerForm.get('email')?.hasError('required')){
            <mat-error>{{ 'validation.requiredMessage' | translate }}</mat-error>
          }
          @if(registerForm.get('email')?.hasError('email')){
            <mat-error>{{ 'validation.invalidEmail' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            formControlName="mobileNumber"
            placeholder="Enter Your Mobile Number">
          <mat-icon matSuffix>call</mat-icon>
          @if(registerForm.get('mobileNumber')?.hasError('required')){
            <mat-error>{{ 'validation.requiredMessage' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'"
          >
          <button
            matSuffix
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-pressed]="hide"
            [attr.aria-label]="'Hide password'"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if(registerForm.get('password')?.hasError('required')){
            <mat-error>{{ 'validation.requiredMessage' | translate }}</mat-error>
          }
          @if(registerForm.get('password')?.hasError('minlength')){
            <mat-error>{{ 'validation.passwordLength' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            placeholder="Enter Your Confirm Password"
            [type]="hideConfirmPassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if(registerForm.get('confirmPassword')?.hasError('required')){
            <mat-error>{{ 'validation.requiredMessage' | translate }}</mat-error>
          }
          @if(registerForm.get('confirmPassword')?.hasError('minlength')){
            <mat-error>{{ 'validation.passwordLength' | translate }}</mat-error>
          }
          @if(registerForm.get('confirmPassword')?.hasError('mustMatch')){
            <mat-error>{{ 'validation.passwordMatch' | translate }}</mat-error>
          }
      </mat-form-field>
      <div class="col-12">
        <button mat-flat-button color="primary" class="w-100" (click)="register()">Register</button>
      </div>
      </form>
      <div class="alert alert-warning mt-lg-3">
        {{registerForm.value | json}}
      </div>
      <div class="alert alert-danger mt-lg-3">
        {{registerForm.get('confirmPassword')?.errors | json}}
      </div>
    </div>
  </div>
</div>
