<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 col-12 p-3 rounded border bg-white">
      <div class="d-flex justify-content-center py-3">
        <img src="https://picsum.photos/id/0/600/600" alt="logo" class="rounded-circle" style="width: 150px;">
      </div>
      <h1 class="text-center fw-bold">Login to your account</h1>
      <div class="py-2">
        {{ loginDto.email | json }}
      </div>
      <form class="row" #loginForm="ngForm">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Email</mat-label>
          <input
            matInput
            name="email"
            [(ngModel)]="loginDto.email"
            placeholder="Enter your Email"
          >
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            [(ngModel)]="loginDto.password"
            placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'"
          >
          <button
            matSuffix
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-pressed]="hide"
            [attr.aria-label]="'Hide password'"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="col-12">
          <button
          mat-flat-button
          color="primary"
          class="w-100"
          (click)="login(loginForm)"
          >Login</button>
        </div>
        <div class="py-2">
          <hr class="title-separator text-center position-relative text-dark" [attr.data-content]="'OR'">
        </div>
        <div class="col-12 pb-2">
          <button class="btn btn-outline-primary w-100" (click)="navigateToRegister()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

