<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 col-12 p-3 rounded border bg-white">
      <div class="d-flex justify-content-center py-3">
        <img src="https://picsum.photos/id/0/600/600" alt="logo" class="rounded-circle" style="width: 150px;">
      </div>
      <h1 class="text-center fw-bold">Login to your account</h1>

      <!--
        notes:
          ng-valid != ng-invalid
          ng-touched != ng-untouched
          ng-dirty != ng-pristine
      -->
        <!--
          maxLength prevent user to add more character and not have validation error
          pattern=".*@.*\.com$" this pattern validate that email ends with .com
          angular auto add 'novlidate' class to from to prevent use the html validator and use the angular validator
          (ngSubmit) just work with submit button type
        -->
      <form class="row" #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <mat-form-field appearance="outline" class="col-12 email-control">
          <mat-label>Email</mat-label>
          <input
            required
            minlength="5"
            maxlength="15"
            email
            pattern=".*@.*\.com$"
            matInput
            name="email"
            #email="ngModel"
            [(ngModel)]="loginDto.email"
            placeholder="Enter your Email"
          >
          <mat-icon matSuffix>email</mat-icon>
          @if(email.errors?.['required']){
            <mat-error>Email is required</mat-error>
          }
          @if(email.errors?.['minlength']){
            <mat-error>Email must be more then {{email.errors?.['minlength'].requiredLength}} characters
              but you insert only {{ email.errors?.['minlength'].actualLength }}
            </mat-error>
          }
          @if(email.errors?.['email'] && !email.errors?.['minlength']){
            <mat-error>Email is not valid</mat-error>
          }
          @if(email.errors?.['email'] && !email.errors?.['email'] && !email.errors?.['minlength']){
            <mat-error>Email must have .com</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            [(ngModel)]="loginDto.password"
            placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'"
          >
          <button
            matSuffix
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-pressed]="hide"
            [attr.aria-label]="'Hide password'"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="col-12">
          <!-- default type of button is submit -->
          <!-- if the button out of form or the button type not submit
          so we can't submit the form so we parse the form and the $event
          and parse the event to onSubmit method in form-->
          <button
            mat-flat-button
            color="primary"
            class="w-100"
            (click)="login(loginForm, $event)"
          >Login
          </button>
        </div>
        <div class="py-2">
          <hr class="title-separator text-center position-relative text-dark" [attr.data-content]="'OR'">
        </div>
        <div class="col-12 pb-2">
          <button class="btn btn-outline-primary w-100" (click)="navigateToRegister()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

