
<div class="p-2 text-light d-flex justify-content-between channel-name">
  <div class="ps-2">
    <h1>Future Code - {{data.title}}</h1>
    <ng-container>
      Eos molestias veniam aliquid! Aliquam earum reprehenderit eius nobis facilis officia!
    </ng-container>
    <img src="https://picsum.photos/id/684/100/100" alt="image" loading="lazy" (click)="onLogoClick()">
  </div>
</div>
<!-- <div class="p-3">
  <input type="text" [value]="data.title" class="demo" #inputRrf (keyup)="onKeyUp(inputRrf.value)">
</div> -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-4 col-12">
      <app-course-card [title]="course[0].title" [imageUrl]="course[0].imageUrl" [description]="course[0].description"></app-course-card>
      <app-course-card [title]="course[1].title" [imageUrl]="course[1].imageUrl" [description]="course[1].description"></app-course-card>
      <app-course-card [title]="'development of various forms'"  [imageUrl]="'https://picsum.photos/id/654/200/200'" [description]="'Thus further development of various forms of activity directly depends on the system of mass participation. The significance of such problems is so obvious that the implementation of the planned tasks requires the clarification of forms of influence. Thus the established organization structure allows to complete important implementation tasks of forms of influence.'"></app-course-card>
    </div>
  </div>
</div>
