
<div class="p-2 text-light d-flex justify-content-between channel-name">
  <div class="ps-2">
    <h1>Future Code - {{data.title}}</h1>
    <ng-container>
      Eos molestias veniam aliquid! Aliquam earum reprehenderit eius nobis facilis officia!
    </ng-container>
    <img src="https://picsum.photos/id/684/100/100" alt="image" loading="lazy" (click)="onLogoClick()">
  </div>
</div>
<!-- <div class="p-3">
  <input type="text" [value]="data.title" class="demo" #inputRrf (keyup)="onKeyUp(inputRrf.value)">
</div> -->
<div class="container-fluid">
  <div class="row mt-2">
    <!-- we can track by object value "track course" 
      or by index "track $index"
      and all we can used with method -->

    @for (course of courses; track trackCourse;) {
      <h1>Courses Count : {{$count}}</h1>
      <div class="col-md-4 col-12">
        <app-course-card  [index]="$index" [course]="course"
            [class.first-course]="$first" [class.last-course]="$last"
            [class.even-course]="$even" [class.odd-course]="$odd"
          (viewCourseEvent)="onCourseClicked($event)"/>
      </div>
    } @empty {
      <h1>No Courses Found!</h1>
    }
  </div>
</div>
