<!-- the best to use ngClass instead of ngStyle -->
<div class="film-card rounded text-center text-center my-2"
    [ngClass]="film.episode_id === categoryType.beginners ? 'beginner' : 'advanced'">
    <div class="fw-bold p-2 film-title"
    [ngStyle]="{'color': film.episode_id === categoryType.beginners ? 'darkgreen' : 'darkblue'}">
        <!-- <h4 class="text-danger">{{title}}</h4>
        {{index}}- {{film.title}} -->
        <div>
            <ng-content />
        </div>
        <app-child-view  />
    </div>
        <!-- <div>
            <img [src]="film.imageUrl" alt="image-film" class="w100 film-image">
        </div> -->
    <div class="film-description p-2 text-start">
        {{film.title}}
    </div>
    @switch (film.episode_id) {
        @case (categoryType.beginners) {
            <span class="badge bg-warning"> Beginner </span>
        }
        @case (categoryType.intermediate) {
            <span class="badge bg-info"> Intermediate </span>
        }
        @case (categoryType.advanced) {
            <span class="badge bg-secondary"> Advanced </span>
        }
        @default {
            <span class="badge bg-danger"> Other </span>
        }
    }
    <div class="p-2">
        <button class="btn btn-primary" (click)="viewFilm()">View Details</button>
    </div>
</div>
