/* You can add global styles to this file, and also import other style files */
// @import "~@fortawesome/fontawesome-free/css/all.css";

.even-film {
    .film-card {
        background-color: lightgray;
    }
}

.odd-film {
    .film-card {
        background-color: lightcyan;
    }
}

.first-film {
    .film-card {
        border-top: 5px solid #000;
    }
}

.last-film {
    .film-card {
        border-bottom: 5px solid #000;
    }
}
