.bg-black {
  background-color: #000; // #101012;
}

.angular-icon {
  font-size: 130px;
  color: #ee2ecc;
}

.film {
  border: 1px solid #fff;
  height: 100px;
}

.visited {
  border: 2px solid green;
}
